.model-page {
  min-height: 100vh;
  background: linear-gradient(to right, #0e0e0e, #1a1a1a);
  display: flex;
  justify-content: center;
  align-items: center;
}

.model-box {
  width: 450px;
  background: #111;
  padding: 40px;
  border-radius: 12px;
  border: 1px solid #333;
}

.model-box h1 {
  color: #f2ca50;
}

.subtitle {
  color: #aaa;
  margin-bottom: 20px;
}

.error {
  color: red;
}

.model-box input,
.model-box select {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  background: #1c1c1c;
  border: 1px solid #333;
  color: white;
}

.model-box button {
  width: 100%;
  padding: 14px;
  background: #f2ca50;
  border: none;
  font-weight: bold;
}

/* PROFILE */
.profile-upload {
  margin-bottom: 15px;
}

/* CATEGORIES */
.categories span {
  display: inline-block;
  margin: 5px;
  padding: 6px 10px;
  border: 1px solid #555;
  cursor: pointer;
}

.categories .active {
  background: #f2ca50;
  color: black;
}

/* PORTFOLIO */
.portfolio {
  margin: 10px 0;
}